.header__lang-link {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #fff;
  text-decoration: none;
  transition: opacity 0.25s linear;
}

.header__lang-link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 767px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}
