.place__paragraph {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  color: #FFFFFF;
  margin: 0;
}

.place__paragraph:not(:first-child) {
  padding-top: 26px;
}

@media screen and (max-width: 1023px) {
  .place__paragraph {
    font-size: 16px;
  }

  .place__paragraph:not(:first-child) {
    padding-top: 25px;
  }
}

@media screen and (max-width: 767px) {
  .place__paragraph {
    padding-left: 16px;
    padding-right: 16px;
  }
}
