.place__link {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration: underline;
  color: #FFFFFF;
  display: inline-block;
  padding-top: 12px;
  transition: opacity 0.25s linear;
}

.place__link:hover {
  opacity: 0.8;
}
